<footer>
  <p>© {% year %} Evan Rutten</p>
  <ul>
    <li>
      <a href="https://github.com/notevanrutten"><i class="fa-brands fa-github"></i></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/evan-rutten/"><i class="fa-brands fa-linkedin"></i></a>
    </li>
  </ul>
</footer>
