$primary-bg-color: #222;
$primary-text-color: #fff;

$secondary-bg-color: #333;
$secondary-text-color: #aaa;

body {
  background-color: $primary-bg-color;
  color: $primary-text-color;
  font-family: "Poppins", sans-serif;
  margin: auto;
  max-width: 75rem;
  padding: 2rem;

  nav {
    align-items: center;
    display: flex;
    justify-content: space-between;

    h1 {
      margin: 0;

      a {
        color: $primary-text-color;
        text-decoration: none;
      }
    }

    ul {
      display: flex;
      list-style: none;
      margin: 0;

      li {
        margin-left: 2rem;

        a {
          color: $primary-text-color;
          font-weight: bold;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  main {
    text-align: center;
  }

  footer {
    align-items: center;
    border-top: 1px solid $secondary-text-color;
    display: flex;
    justify-content: space-between;
    margin: 2rem 5rem;
    padding: 0 2rem;

    p {
      color: $secondary-text-color;
    }

    ul {
      list-style: none;

      li {
        display: inline;
        margin-left: 1rem;

        a {
          color: $secondary-text-color;
          font-size: 2rem;
          text-decoration: none;
        }
      }
    }
  }
}
