<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Evan Rutten</title>
    <link
      rel="icon"
      href="/favicon-light.png"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      href="/favicon-dark.png"
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="stylesheet"
      href="/css/style.css"
    />
  </head>
  <body>
    <header>{% include "components/navbar.njk" %}</header>
    <main>
      {{ content | safe }}
    </main>
    <footer>{% include "components/footer.njk" %}</footer>
  </body>
</html>
