<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Evan Rutten</title>
    <link rel="icon" href="/assets/favicon-light.png" media="(prefers-color-scheme: light)" />
    <link rel="icon" href="/assets/favicon-dark.png" media="(prefers-color-scheme: dark)" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Marcellus" />
    <script src="https://kit.fontawesome.com/5be5848e0a.js" crossorigin="anonymous"></script>
  </head>
  <body>
    {% include "components/navbar.njk" %}
    <main>{{ content | safe }}</main>
    {% include "components/footer.njk" %}
  </body>
</html>
