<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link
      rel="icon"
      href="/favicon-light.png"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      href="/favicon-dark.png"
      media="(prefers-color-scheme: dark)"
    />
  </head>
  <body>
    <main>
      {% include "components/navbar.njk" %}
      {{ content | safe }}
      {% include "components/footer.njk" %}
    </main>
  </body>
</html>
