---
layout: "layouts/base.njk"
---

<main>
  <div class="intro">
    <header>
      <img src="portrait.png" />

      <section>
        <h2>Hey! I'm <b>Evan</b>, a student and embedded software developer from Kitchener, ON.</h2>
        <p>As a <b>Systems Engineer</b>, I love building projects that involve both electronics and software.</p>
        <p>Whether it's developing onboard systems for a race-car or designing smart sensors, I enjoy all things embedded.</p>
        <p>Some of my hobbies outside of the technical world include rock climbing, cooking, and camping.</p>
        <p>I'm always open to new opportunities and projects, so don't hesitate to <a href="/contact">get in touch</a>.</p>
      </section>
    </header>

    <h1>Technologies I work with frequently</h1>
    <ul>
      <li><img src="c.png" /><br />C</li>
      <li><img src="cpp.png" /><br />C++</li>
      <li><img src="qt.png" /><br />Qt (QML)</li>
      <li><img src="kicad.png" /><br />KiCad</li>
      <li><img src="solidworks.png" /><br />SolidWorks</li>
    </ul>
  </div>
</main>
