---
layout: "layouts/base.njk"
---

<main>
  <div class="projects">
    <section>
      <h1>Vehicle Dashboard Interface</h1>
      <img src="dashboard-1.png" />
      <img src="dashboard-2.png" />
    </section>

    <section>
      <h1>Discord-Integrated Door Sensor</h1>
      <img src="door-sensor-1.png" />
      <img src="door-sensor-2.png" />
    </section>

    <section>
      <h1>Remote Logging Module (WIP)</h1>
      <img src="logging-module-1.png" />
      <img src="logging-module-2.png" />
    </section>
  </div>
</main>
