---
layout: "layouts/base.njk"
---

<div class="projects">
  <section>
    <h1>Vehicle Dashboard Interface</h1>
    <div class="info">
      <div class="images">
        <img src="../assets/projects/dashboard-1.png" />
        <img src="../assets/projects/dashboard-2.png" />
      </div>
      <p>Coming soon... (Sep 20)</p>
    </div>
  </section>

  <section>
    <h1>Discord-Integrated Door Sensor</h1>
    <div class="info">
      <div class="images">
        <img src="../assets/projects/door-sensor-1.png" />
        <img src="../assets/projects/door-sensor-2.png" />
      </div>
      <p>Coming soon... (Sep 20)</p>
    </div>
  </section>

  <section>
    <h1>Remote Logging Module (WIP)</h1>
    <div class="info">
      <div class="images">
        <img src="../assets/projects/logging-module-1.jpg" />
        <img src="../assets/projects/logging-module-2.jpg" />
      </div>
      <p>Coming soon... (Sep 20)</p>
    </div>
  </section>
</div>
