---
layout: "layouts/base.njk"
---

<div class="resume">
  <header>
    <div class="left-column">
      <h1>EVAN RUTTEN</h1>
      <h2>SYSTEMS ENGINEER</h2>
    </div>
    <div class="right-column">
      <p>erutten@uoguelph.ca<br />(519) 897-2162<br />Kitchener, ON</p>
      <a href="https://www.evanrutten.com">www.evanrutten.com</a>
    </div>
  </header>

  <section>
    <div class="skills">
      <h3>SKILLS</h3>
      <p><b>Languages</b> &nbsp;&mdash;&nbsp; C &nbsp;&bull;&nbsp; C++ &nbsp;&bull;&nbsp; TypeScript &nbsp;&bull;&nbsp; HTML &nbsp;&bull;&nbsp; CSS &nbsp;&bull;&nbsp; Qt (QML)</p>
      <p><b>Software</b> &nbsp;&mdash;&nbsp; Git &nbsp;&bull;&nbsp; Linux &nbsp;&bull;&nbsp; CI/CD (GitHub Actions) &nbsp;&bull;&nbsp; Firebase &nbsp;&bull;&nbsp; Azure</p>
      <p><b>Electrical</b> &nbsp;&mdash;&nbsp; ESP32 &nbsp;&bull;&nbsp; Raspberry Pi &nbsp;&bull;&nbsp; KiCad &nbsp;&bull;&nbsp; PCB design &nbsp;&bull;&nbsp; Soldering</p>
      <p><b>Mechanical</b> &nbsp;&mdash;&nbsp; SolidWorks &nbsp;&bull;&nbsp; AutoCAD &nbsp;&bull;&nbsp; Cura &nbsp;&bull;&nbsp; 3D printing (FDM)</p>
    </div>
  </section>

  <section>
    <h3>WORK EXPERIENCE</h3>
    <div class="experience">
      <h4>WEARABLE DEVICE DEVELOPER (CO-OP)</h4>
      <div class="location-and-date">
        <p>ORIOLE AI INC, Guelph, ON</p>
        <p>05/2023 - 08/2023</p>
      </div>
      <ul>
        <li>Developed a prototype for smart glasses with the ability to capture images and convert them to speech.</li>
        <li>Designed software in <b>C</b> for an <b>ESP32</b> to control electronic peripherals and access cloud APIs (<b>Firebase</b>, <b>Azure</b>).</li>
        <li>Assembled a complete electrical system, including a camera, microphone, speakers, SD reader, and battery.</li>
        <li>Designed a <b>custom PCB</b> for a 5-button directional pad using <b>KiCad</b>, allowing for various audio controls.</li>
        <li>Modeled and produced a <b>3D-printed</b> frame to house the components, utilizing <b>SolidWorks</b> for the design.</li>
        <li>Oversaw the entire prototyping process, including research, design, manufacturing, and assembly.</li>
      </ul>
    </div>
    <div class="experience">
      <h4>PRODUCT ASSEMBLER</h4>
      <div class="location-and-date">
        <p>MAPLE GROVE DISTRIBUTION CENTER, Cambridge, ON</p>
        <p>05/2022 - 08/2022</p>
      </div>
      <ul>
        <li>Built and prepared pallets of product for shipment to various Loblaws-franchised stores across the province.</li>
        <li>Ensured efficient product placement and structural stability of orders through excellent <b>attention to detail</b>.</li>
        <li>Operated a front-driven pallet loader, following and enforcing company <b>safety standards</b> during operation.</li>
      </ul>
    </div>
    <div class="experience">
      <h4>FRONT END ASSISTANT</h4>
      <div class="location-and-date">
        <p>REAL CANADIAN SUPERSTORE, Kitchener, ON</p>
        <p>09/2020 - 08/2021</p>
      </div>
      <ul>
        <li>Organized and sanitized carts, plus assisted customers with bagging and carrying groceries upon request.</li>
        <li>Ensured delivery of exceptional customer service through <b>communication</b> with customers and employees.</li>
        <li>Guaranteed satisfaction in cart arrangement and cleanliness through <b>organization</b> and <b>time management</b>.</li>
      </ul>
    </div>
  </section>

  <section>
    <h3>EXTRACURRICULAR</h3>
    <div class="experience">
      <h4>EMBEDDED SYSTEMS DEVELOPER</h4>
      <div class="location-and-date">
        <p>GRYPHON RACING FSAE, Guelph, ON</p>
        <p>09/2022 - present</p>
      </div>
      <ul>
        <li>Assisted the racing team in developing embedded systems for our electrical and internal combustion cars.</li>
        <li>Focused mainly on the transfer and display of data using various methods (dashboard, remote logger, bot).</li>
        <li>Collaborated on software projects through <b>Git</b>, utilizing proper branch and pull request methodology.</li>
        <li>Integrated <b>CI/CD</b> workflows for all projects using GitHub Actions, automating build and deploy processes.</li>
      </ul>
    </div>
  </section>

  <section>
    <div class="other">
      <h5>EDUCATION</h5>
      <p><b>B.ENG &nbsp;&ndash;&nbsp; ENGINEERING SYSTEMS AND COMPUTING</b></p>
      <div class="location-and-date">
        <p>UNIVERSITY OF GUELPH, Guelph, ON</p>
        <p>2021 - 2026</p>
      </div>
    </div>
  </section>

  <section>
    <div class="other">
      <h5>CERTIFICATIONS</h5>
      <div class="location-and-date">
        <p>G Class &nbsp;&ndash;&nbsp; Ontario Driver's License</p>
        <p>2023</p>
      </div>
      <div class="location-and-date">
        <p>CSWA &nbsp;&ndash;&nbsp; Certified SolidWorks Associate in Mechanical Design</p>
        <p>2022</p>
      </div>
    </div>
  </section>
</div>
